# App Configuration
APP_NAME="InfoBio UFCSPA"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database Connection
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=infobio
DB_USERNAME=root
DB_PASSWORD=
